.firstcampaign-main {
  width: 80%;
  margin: 0 auto;
}
.download_tooltip {
  border-bottom: 2px dashed #333 !important;
}

.custom_th_shorting span.inte__ToolTip-trigger,
.download_tooltip-btn .inte-btn .inte__text,
span.custom_tooltip_label {
    border-bottom: 2px dashed #333;
}

.download_tooltip .inte-btn .inte__text {
  line-height: unset;
}

.download_tooltip .inte-btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.error-btn .inte__text{
  text-decoration: underline;
}

.warning-btn .inte__text {
 color: #B28C35 ;
 text-decoration: underline;
}

.icon-overlapping_icon {
  padding-left: 20px;
  position: relative;
  margin-left: -16px;
  width: 28px;
  border-radius: 100%;
  display: inline-block;
}

.custom-icon_overlapping .icon-overlapping_icon:first-child {
  margin-left: 0;
}
