.inte-auth__Main {
    position: relative;
}

.inte-auth-custom .inte__l-title {
    font-size: 2.8rem;
    color: #413BBC;
    font-weight: bold;
}

.init-LoginPage {
    width: 100% !important; 
    max-width: 1006px !important;
    margin: 0 auto;
    padding: 100px 6rem 0;
}

.init-LoginPage__Wrapper {
    background-size: auto auto;
}

.inte-auth-custom .inte-card {
    position: relative;
}

.otpValues {
    width: 43px;
    height: 44px !important;
}

.valid{
    color: #027A48 !important
}

.invalid {
   color: #D92D20 !important
}

.custom-card-message .timer_position {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -32px;
}
.custom-card-message .timer_position * {
    text-align: center;
}

.inte-auth-custom {
    padding: 0 1.2rem;
}

.inte-auth-custom .inte__lr-Layout {
    justify-content: space-between;
}

.inte-auth-custom .inte__l-Layout {
    max-width: 40%;
}

.inte-auth-custom .inte__r-Layout {
    max-width: 50%;
}

.auth_page_title h1 {
    color: #413BBC !important;
}

@media only screen and (max-width: 768px) {
    .inte-auth-custom .inte__l-Layout,
    .inte-auth-custom .inte__r-Layout {
        max-width: 100%;
    }
}
